img{
  padding: 10px;
}


.container{
  background-color:rgba(240, 186, 164, 0.596);
  padding: 24px;
  border: 25px;
  border: rgba(209, 85, 27, 0.808);
}

body {
  background:
  radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, rgb(119, 46, 12) 10px, rgba(96, 45, 16, 0) 11px) 0px 10px,
  radial-gradient(at 100% 100%,      rgba(96, 39, 16, 0) 9px, rgb(102, 37, 17) 10px, rgba(96, 39, 16, 0) 11px),
  rgb(184, 90, 36);
  background-size: 20px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(48, 18, 7, 0.836);
  font: medium;
  font-weight: 550;
}

.jumbotron-style{
  background-color:rgba(211, 96, 51, 0.514);
  padding: 24px;
  border: 25px;
  border: rgba(156, 61, 5, 0.808);
}

.news {
  color: black;
}

.btn {
  background-color: rgb(66, 41, 18);
  color: rgb(245, 245, 245);
  font-weight: bold;
  
}



.labels{
  color: rgb(0, 0, 0);
  font-weight: bolder;
  text-justify: center;
}



.table{
  border-style: groove;
  justify-content: space-around;
  }

tbody {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid rgb(250, 211, 195);
  padding: 8px;
}

tr:nth-child(even){background: #fdf2ec;}

tr:hover {background-color: rgb(253, 174, 143);}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e06f4d;
  color: rgb(24, 2, 2);
}